:root {
    --primary-color: #005d9a !important;
    --primary-contrast-color: #ffffff !important;
    --menu-text-color: #000000 !important;
    --menu-background-color: #ffffff !important;
    --menu-item-color: #e7eef5 !important;
    --secondary-color: #ffcc00 !important;
    --secondary-contrast-color: #000000 !important;
    --light-gray-color: #ececec !important;
    --dark-gray-color: #777777 !important;
    --white-color: #ffffff !important;
    --paper-grey-400: #bdbdbd !important;
    --unchecked-color: #bbbbbb !important;
    --unchecked-background-color: transperant !important;
    --lighten-color: rgba(255,255,255,.1); /*Instead of primary-color-light*/

    --map-route-collapsed-color: var(--primary-color);
    --map-route-zero-length-color: var(--primary-color);
    --map-route-line-color: var(--primary-color);
    --map-route-via-point-color: #990000;
    --map-route-via-point-type: alpha;
}

.HAPrimColor {
    background-color: var(--primary-color) !important;
    color: var(--primary-contrast-color) !important;
}
.HASecColor {
    background-color: var(--secondary-color) !important;
    color: var(--secondary-contrast-color) !important;
}
.HAInvertedPrimColor {
    background-color: var(--primary-contrast-color) !important;
    color: var(--primary-color) !important;
}
.HAInvertedSecColor {
    background-color: var(--secondary-contrast-color) !important;
    color: var(--secondary-color) !important;
}
.HAEditColor {
    background-color: #009aff !important;
    color: #ffffff !important;
}