.menu-style-theme-hod {
    background-color: #e4e7eb;
    background-image: url(../../../../images/theme/HoD2017back.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.menu-style-theme-hod .logo-theme {
    max-width: 80%;
    min-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(5vh - 10px);
    width: 25vh;
}

.menu-style-theme-1001 {
    background-color: black;
    background-image: url(../../../../images/theme/1001back.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
}
.menu-style-theme-1001 .logo-theme {
    width: 80%;
    display: block;
    margin: 50px auto 30px auto;
}

.menu-style-theme-modstandskamp {
    background-color: #e9e9e9;
    background-image: url(../../../../images/theme/Modstandskamp_back.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    color: black;
    font-size: 12px;    
}