:root.theme-hod {
    --hod-light-grey: #e4e7eb;
    --menu-item-color: var(--hod-light-grey) !important;
}

/*.theme-hod main-menu.show-menu-themes {
    background-color: #e4e7eb;
    background-image: url(../../../../images/theme/HoD2017back.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
*/
/*.theme-hod main-menu.show-menu-themes .logo-theme{
    max-width: 80%;
    min-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(5vh - 10px);
    width: 25vh;
}
.theme-hod main-menu.show-menu-themes {
    background-color: #e4e7eb;
}
.theme-hod main-menu.show-menu-themes > main-menu-item > iron-collapse:nth-child(2) {
    background-image: url(../../../../images/theme/HoD2017back.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: local;
}*/

/*.theme-hod main-menu {
    background-color: #e4e7eb;
}*/

.theme-hod main-menu[shown] {
    background-color: var(--hod-light-grey);
    background-image: url(../../../../images/theme/HoD2017back.jpg);
    background-size: 100%;
    background-position: center bottom 50px;
    background-repeat: no-repeat;
    background-attachment: local;
}

.theme-hod #mainMenuThemeLogo {
    max-width: 70%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(5vh - 10px);
    width: 25vh;
    height: 130px;

    background-image: url(../../../../images/theme/HoD2017logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.theme-hod #mainMenuAboutTheme {
    visibility: visible;
    font-size: 13px;
    margin: 10px 0px 160px 30px;
}

.theme-hod #mainMenuAboutTheme::after {
    content: 'Om Historier om Danmark';
}