/*.theme-hod main-menu.show-menu-themes {
    background-color: #e4e7eb;
    background-image: url(../../../../images/theme/HoD2017back.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
*/.theme-hod main-menu.show-menu-themes .logo-theme{
    max-width: 80%;
    min-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(5vh - 10px);
    width: 25vh;
}
.theme-hod main-menu.show-menu-themes {
    background-color: #e4e7eb;
}
.theme-hod main-menu.show-menu-themes > main-menu-item > iron-collapse:nth-child(2) {
    background-image: url(../../../../images/theme/HoD2017back.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: local;
}