:root.theme-digterruter {
    --digterruter-red: #dd655b;
    --digterruter-green: #24523a;
    --primary-color: var(--digterruter-green) !important;
    --menu-item-color: #cde5c1 !important;
    --map-route-collapsed-color: var(--digterruter-red);
    --map-route-zero-length-color: rgba(221, 101, 91, .5);
    --map-route-line-color: var(--digterruter-green);
    --map-route-via-point-color: var(--digterruter-red);
    --map-route-via-point-type: numeric;
}

.theme-digterruter embed-app paper-toolbar.window-basic {
    background-color: white !important;
    color: var(--digterruter-green) !important;
}
.theme-digterruter embed-app paper-toolbar.window-basic .title {
    font-weight: bold !important;
    padding-left: 0px;
}
.theme-digterruter embed-app window-route collection-geo-list {
    display: none;
}

.theme-digterruter window-basic a, .theme-digterruter panel-theme a {
    color: var(--digterruter-red);
    text-decoration: none;
}
.theme-digterruter .institution.by-line {
    color: var(--digterruter-red);
}

.theme-digterruter paper-toolbar.medium-tall.main-app {
    height: 64px !important;
}
.theme-digterruter paper-toolbar.medium-tall.main-app #bottomBar {
    display: none;
}

/*.theme-digterruter main-menu.show-menu-themes {
    background: linear-gradient(180deg, rgba(18,83,58,1) 0%, rgba(18,83,58,1) 145px, rgba(243,240,233,1) 145px, rgba(243,240,233,1) 100%);*/ /*#f3f0e9;*/ /*#f4edd2;*/
/*}*/

.theme-digterruter main-menu { /*.show-menu-themes*/
    background-color: rgba(243,240,233,1);
}
.theme-digterruter main-menu.show-menu-themes > main-menu-item > iron-collapse:nth-child(2) {
    background: linear-gradient(180deg, rgba(18,83,58,1) 0%, rgba(18,83,58,1) 98px, rgba(243,240,233,1) 98px, rgba(243,240,233,1) 100%);
    background-attachment: local;
}

.theme-digterruter main-menu.show-menu-themes iron-icon[icon="close"] {
    fill: #fff;
}

.theme-digterruter main-menu.show-menu-themes .logo-theme {
    width: 230px;
    height: 75px;
    margin-bottom: 10px;
}


/*.theme-digterruter #mainMenuThemeLogo {
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: center;
    
    background-image: url('../../../../images/theme/DanskeDigterruterLogo.png');
    height: 88px;
    background-size: 230px;
    background-position: top left;
    padding-left: 16px;
    background-origin: content-box;
}*/

.theme-digterruter #smallHALogo {
    background-image: url(../../../../images/theme/DanskeDigterruterSmallLogo.png);
    background-size: contain;
    color: transparent;
}