.HAPrimColor {
    background-color: #005d9a !important;
    color: #ffffff !important;
}

.HASecColor {
    background-color: #ffcc00 !important;
    color: #000000 !important;
}

.HAInvertedPrimColor {
    background-color: #ffffff !important;
    color: #005d9a !important;
}

.HAInvertedSecColor {
    background-color: #000000 !important;
    color: #ffcc00 !important;
}

.HAEditColor {
    background-color: #009aff !important;
    color: #ffffff !important;
}